In [2]:
s1="100"
print(type(s1))
a=int(s1)
print(type(a))
f=1.5
a1=int(f)
print(type(a1))
print(a1)

<class 'str'>
<class 'int'>
<class 'int'>
1

In [1]:
a1=1234
print(len(str(a1)))

4

In [3]:
s1=input("enter your name")
print(s1)
print(type(s1))

enter your nametejaswini reddy
tejaswini reddy
<class 'str'>

In [4]:
n1=int(input("enter a number"))
print(n1,type(n1))

enter a number1234
1234 <class 'int'>

### operators

In [5]:
n1=1234
print(n1+10)
print(n1-10)
print(n1*10)
print(n1/10)
print(n1%10)
print(n1//10)
print(n1**10)

1244
1224
12340
123.4
4
123
8187505353567209228244052427776

### precedence
#### left to right

In [1]:
x=1+2**3/4+5
print(x)

8.0

In [2]:
x=1+2**3/4*5
print(x)

11.0

### relational operators
==
!=
>
<                                 true or false
<=
>=

In [4]:
x=10
a1=x>15
print(a1)

False

#### logical operators

In [7]:
i=100
a1=(i>15) and (i<800)
a2=(i>15) and (i>800)
print(a1)
print(a2)

True
False

### conditional statements

###### control flow statements
- conditional statements
- looping statements

###  ifesle statement
- syntax
if boolean condition:
statements
else:
statements

In [10]:
n=int(input("enter a number"))
if n%2 ==0:
    print("even")
else:
    print("odd")

enter a number12
even

In [12]:
n= int (input("enter a number"))
if n%3 ==0 and n%5 ==0:
    print("yes")
else:
    print("no")

enter a number10
no

In [13]:
n=int(input("enter a number"))
if n==0:
    print("zero")
elif n>0:
    print("positive number")
elif n<0:
    print("negative number")

enter a number5
positive number